footer{
    text-align: center;
    font-size: 50px;
    color: #ca8a8b;
}

#imagesdiv #leftImg {
width: 200x;
height: 270px;
display:inline;
}
#imagesdiv #rightImg{
    width: 200x;
    height: 270px;
    display:inline;
}

#imagesdiv #middleImg{
    width: 180x;
    height: 200px;
    display:inline;
}
p{
    padding-top: 50px;
    color: #999b84;
}
body{
    display:inline-block;
    background-color: #e6c4c0;
}

#list{
    float: right;
}
#btn{
    text-align: center;
    margin-left: 500px;
    margin-top: 50px;
    color: #926e6f;
    background-color: #999b84;
}
#input{
    padding-bottom: 50px;
}